html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ---------header---------*/
header{
    background-image:linear-gradient(rgba(2,33,64,0.8),rgba(45,95,93,0.8)), url(../assignment/img/backgroudd.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.logo{
    width: 350px;
    float: left;
    margin-left: 20px;
    margin-top: -55px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: boder-bottom 0.5s;
    padding: 3px 0px;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #fff;
}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.heading-main-box{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-45%,-55%);
    width: 1140px;
}
h1{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 10px;
    word-spacing: 10px;
    color: #fff;
    margin-bottom: 50px;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-color: rgb(245, 124, 37);
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
    transition: all 1s;
}
.btn:hover,
.btn:active{
    background-color: rgb(102, 48, 9);
}
/*------about section------*/
.about-section{
    background-color: #d9f0f5;
    height: 550px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e75217;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}
h2::after{
    content: "----------";
    display: block;
    width: 150px; 
    height: 2px;
    color: rgba(238, 135, 44, 0.5);
    margin: 0 auto;
    margin-top: 1px;

}
.p-long{
    text-align: center;
    color: rgb(6, 6, 66);
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}
section{
    padding: 50px;
}
.about-picture{
    position: relative;
}
.about-picture img{
   width: 90%;
   margin-top: 30px;
   border-radius: 20px;
   border: 4px solid rgb(171, 171, 238);
   box-shadow:0px 5px 15px 5px rgb(74, 74, 124) ;  
   transition: all 0.7s;
}
.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #044a5b;
    transform: translate(-65%,100%);
    opacity: 0;
    transition: all 0.7s;
}
.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%,-50%);
    opacity: 1;
}
.about-picture:hover img ,
.about-picture:active img{
    filter: blur(2px) brightness(65%);
}
/*---------- products section ----------*/
.product-section{
    background-color: rgb(231, 242, 206);
    height: 600px;
}
.product-section h2{
    margin-bottom: 60px;
    
}
.product_box{
    background-color: rgb(236, 245, 226);
    box-shadow: 3px 5px 10px #d4d1d1;
    width: 90%;
    height: 350px;

}
h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(37, 69, 117);
    color: rgb(205, 230, 236);
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    margin-bottom: 15px;
}
.product-price{
    color: rgb(68, 66, 211);
    font-size: 250%;
    text-align: center;
}
.product-price span{
    font-size: 80%;   
}
.product_box ul li{
    margin-left: 15%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.small-icon{
    color: rgb(123, 123, 221);
    font-size: 140%;
    margin-right: 10px;
}
.product_box .btn{
    margin-left: 25%;
}
/*---------- testimonial section ----------*/
.testimonials-section{
    background-image:linear-gradient(rgba(2,33,64,0.8),rgba(45,95,93,0.8)), url(../assignment/img/backgroudd.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;

}
.testimonials-section h2{
    margin-bottom: 70px;
}
blockquote:before{
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
}
blockquote{
    font-style: italic;
    line-height: 140%;
    color: #f8faf9;
}
cite{
    display: block;
    color: #9dd0ee;
    margin-top: 25px;
}
cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}
/*---------- sponsor ----------*/
.sponsor-section{
    background-color:  #d9f0f5;
    height: 650px;
}
.sponsor-section h2{
    margin-bottom: 50px;

}
#slider{
    height: 350px;
    width: 1000px;
    margin: auto;
    position: relative;
}
#slider #sotrang{
   position: absolute;
   top :5%; 
   left: 5%;
}
#slider #hinh{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
#slider #hinh:hover,
#slider #hinh:active{
  border: 2px solid red;
  transform: scale(1.1);
}
#slider #mota , #sotrang{
    position: absolute;
    top: 85%;
    left: 40%;
    font-size: 1.3em;
    color: white;
}
#slider .fa-caret-square-left{
    position: absolute;
    top: 45%;
    left: 3%;
    font-size: 32px;
}
#slider .fa-caret-square-right{
    position: absolute;
    top: 45%;
    left: 94%;
    font-size: 32px;
}
.abc{
   position: relative;
   left: 40%;
   top: 30px; 
}
.abc ul li {
  display: inline;
  margin-left: 7px;
  font-size: 30px;
  color: rgb(240, 130, 238);
}
.abc ul li #one{
    color: rgb(122, 26, 164);
}


 /*---------- contact form ----------*/
 .contact-section{
    background-image:linear-gradient(rgba(2,33,64,0.8),rgba(45,95,93,0.8)), url(../assignment/img/backgroudd.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
 }
 .infomation{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 90%;
 }
 .infomation .small-icon:hover,
 .infomation .small-icon:active{
    transform: scale(1.3);
 }
 .social-icon{
    margin-top: 50px;
    list-style: none;
 }
 .social-icon li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
 }
 .social-icon li i{
    transition: all .3s;
    cursor: pointer;
 }
 .social-icon li i:hover,
 .social-icon li i:active{
  transform: scale(1.3);
  color: #e75217;
 }
 form{
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 40%;
    width: 60%;
 }
 form .row{
    margin-bottom: 20px;
 }
 label{
    color: white;
    font-size: 150%;
    padding: 20px;
 }
 input ,textarea{
    outline: none;
    padding: 30px;
    background-color:  rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.7); 
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
 }
 textarea{
    resize: none;
    height: 100px;
 }
 input{
    height: 50px;
 }
 form .row:last-child{
    text-align: center;
 }
 input [type=submit]{
    font-weight: 700;
    font-size: 100%;
    border-radius: 5px;
    width: 60%;
 }

 /*---------- footer ----------*/
 footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
 }